.summaryHeader {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.reportrange {
    background: #fff; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    width: 100%;
}

.filterBar{
    display: flex;
    flex-direction: row;
}