.setting-list-item.list-group-item {
    border: none !important;
    border-radius: 5px !important;
    margin-bottom: 0.5rem;
}

.list-group-item.active{
    color: white;
    background-color: var(--primary-color);
}

#phoneRecovNumber {
    font-weight: bold;
    letter-spacing: 2px;
    font-family: monospace;
}

.resendOtpBtn {
    background-color: transparent !important;
    color: gray;
    border: none !important;
}

.resendOtpBtn:hover {
    color: var(--text-color);
    font-weight: bolder;
    border-radius: 10px;
    border: none !important;
    background-color: transparent !important;
}

.otp-box {
    width: 40px;
    height: 45px;
    font-size: 1.5rem;
    padding: 0;
}
