{% extends "base.html" %}
{% block title %}Accounts{% endblock %}

{% block content %}
<header class="p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="m-0">Accounts</h2>
        <div class="d-flex flex-wrap gap-2">
            <button type="button" data-table="accountTable" data-table-name="Account" class="btn btn-danger btn-pdf">
                Export to PDF
            </button>
            <button type="button" id="addAccountBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAccountModal">
                + Add Account
            </button>
        </div>
    </div>
</header>


<div class="card">
    <!-- <div class="card-header">
        <h3>Church Records</h3>
    </div> -->
    <div class="card-body">
        
        <div class="table-responsive">
            <table id="accountTable" class="display table zero-configuration dataTable table-striped table-bordered rounded mt-2 w-100">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Contact Number</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Date Joined</th>

                    </tr>
                </thead>

                <tbody>
                    
                </tbody>
                </table>
        </div>
    </div>
</div>

<div class="modal-container">
    <div class="modal fade" id="addAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addAccountModal" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Account Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-case">
                        <form id="accountAddForm">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                                    <label for="fname" class="form-label required">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter given name" required>
                
                                </div>
                
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                                    <label for="mname" class="form-label">Middle Name</label>
                                    <input type="text" class="form-control" id="mname" name="mname" placeholder="Enter Middle name">
                
                                </div>
                
                                <div class="col-lg-4 col-12 mb-3">
                                    <label for="lname" class="form-label required">Last Name</label>
                                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last name" required>
                
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-12 mb-3">
                                    <label for="username" class="form-label required">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"  placeholder="Enter username" required>
                                </div>
                
                                <div class="col-lg-6 col-12 mb-3">
                                    <label for="contact_number" class="form-label required">Contact Number</label>
                                   <input type="tel" class="form-control" id="contact_number" name="contact_number"
                                    maxlength="11" pattern="^09\d{9}$" placeholder="09xxxxxxxxx" required
                                    inputmode="numeric">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label required">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                            </div>

                            <!-- <div class="mb-3">
                                <label for="password" class="form-label required">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                            </div>

                            <div class="mb-3">
                                <label for="confirm_password" class="form-label required">Confirm Password</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
                            </div> -->

                            <br>

                            <button type="submit" class="btn btn-primary">Set up Authentication</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="authenticateAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="authenticateAccountModal" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Authnticate Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-case">
                        <h5 class="card-title">Sign Up | Authentication</h5>
                        <p class="card-text">Please get your device ready and open a QR Code scanner to authenticate. Take note that the device you will use now will be the device used everytime you log into your account. <br><br>Press the button below if you are ready for authentication.</p>
                        
                        <div id="fido-layout-inprogress-div" class="d-none">
                            <div class="d-flex justify-content-center mb-1 text-secondary">
                                <div class="spinner-border" role="status"></div>
                            </div>
                            <div class="text-center text-secondary">Waiting for approval...</div>
                        </div>
                    
                        <div id="fido-layout-failed-alert" class="alert alert-danger text-center d-none" role="alert">
                            <img src="{{url_for('static', filename='images/danger.svg')}}" class="w-25">
                            <div id="fido-layout-failed-alert-message"></div>
                        </div>

                        <div class="button-container">
                            <div id="button-div">
                                <button id="authenticate-button" type="button" class="btn btn-primary" data-user-id="">Set up Security Key</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="modal fade" id="editAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="editAccountModal" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Account Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-case">
                        <form id="accountEditForm">
                            <div class="row">
                                <input type="hidden" name="userId" id="userId">

                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                                    <label for="fname" class="form-label required">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter given name" required>
                
                                </div>
                
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                                    <label for="mname" class="form-label">Middle Name</label>
                                    <input type="text" class="form-control" id="mname" name="mname" placeholder="Enter Middle name">
                
                                </div>
                
                                <div class="col-lg-4 col-12 mb-3">
                                    <label for="lname" class="form-label required">Last Name</label>
                                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last name" required>
                
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-12 mb-3">
                                    <label for="username" class="form-label required">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"  placeholder="Enter username" required>
                                </div>
                
                                <div class="col-lg-6 col-12 mb-3">
                                    <label for="contact_number" class="form-label required">Contact Number</label>
                                    <input type="text" class="form-control" id="contact_number" name="contact_number" maxlength="13" placeholder="09xx-xxx-xxxx" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-12 mb-3">
                                    <label for="email" class="form-label required">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                                </div>

                                <div class="col-lg-6 col-12 mb-3">
                                    <label for="role" class="form-label required">Role</label>
                                    <select id="role" name="role" class="form-select" required>
                                        <option value="STAFF">Staff</option>
                                        <option value="CLIENT">Client</option>
                                    </select>                                
                                </div>

                            </div>

                            <br>

                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="module" src="{{ url_for('static', filename='js/register_staff.js') }}"></script>

{% endblock %}
