{% extends "base.html" %}
{% block title %}Confirmation{% endblock %}

{% block content %}
<header class="p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="m-0">Confirmation</h2>
        <div class="d-flex flex-wrap gap-2">
            <button type="button" data-table="confirmationTable" data-table-name="Confirmation" class="btn btn-danger btn-pdf">
                Export to PDF
            </button>                     
            <button type="button" id="addConfirmationBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addConfirmationModal">
                + Add Confirmation Record
            </button>
        </div>
    </div>
</header>

<div class="card">
    <!-- <div class="card-header">
        <h3>Church Records</h3>
    </div> -->
    <div class="card-body">
        

        <div class="table-responsive">
            <table id="confirmationTable" class="display table zero-configuration dataTable table-striped table-bordered rounded mt-2 w-100">
                <thead>
                    <tr>
                        <th rowspan="2">Action</th>
                        <th rowspan="2">Confirmation Date</th>
                        <th colspan="3">Name</th>
                        <th rowspan="2">Birthdate</th>
                        <th rowspan="2">Address</th>
                        <th colspan="2">Parents</th>
                        <th rowspan="2">Priest</th>
                    </tr>
                    <tr>
                        <th>First</th>
                        <th>Middle</th>
                        <th>Last</th>
                        <th>Father</th>
                        <th>Mother</th>
                    </tr>
                </thead>

                <tbody>
                    
                </tbody>
                </table>
        </div>
    </div>
</div>

<div class="modal-container">
    <div class="modal fade" id="showConfModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmationModal" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalTitle">Confirmation Information
                        <a href="#" id="editRecord" class="text-decoration-none ms-2">
                            <i class="fa-solid fa-edit"></i>
                        </a>                
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="accordion" id="confirmationAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1" aria-expanded="true" aria-controls="accordion1">
                                    Client Information
                                </button>
                            </h2>
                            <div id="accordion1" class="accordion-collapse collapse" data-bs-parent="#confirmationAccordion">
                                <div class="accordion-body">
                                    <p><strong>Client Name:</strong> <span id="confClientName"></span></p>
                                    <p><strong>Birthday:</strong> <span id="confClientBday"></span></p>
                                    <p><strong>Birthplace:</strong> <span id="confClientBplace"></span></p>
                                    <p><strong>Legitimacy:</strong> <span id="confClientLigitivity"></span></p>
                                    <p><strong>Address:</strong> 
                                        <span id="confClientAddress"></span>, 
                                        <span id="confClientBrgy"></span>,
                                        <span id="confClientCityMun"></span>,
                                        <span id="confClientProv"></span>,
                                        <span id="confClientReg"></span>
                                    </p>
                                    <p><strong>Church Baptized:</strong> <span id="confBaptChurch"></span></p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion2" aria-expanded="false" aria-controls="accordion2">
                                    Confirmation Information
                                </button>
                            </h2>
                            <div id="accordion2" class="accordion-collapse collapse" data-bs-parent="#confirmationAccordion">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><strong>Confirmation Date:</strong> <span id="confDate"></span></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><strong>Priest:</strong> <span id="confPriest"></span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><strong>Sponsor:</strong> <span id="confSponsA"></span></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><strong>Sponsor:</strong> <span id="confSponsB"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion3" aria-expanded="false" aria-controls="accordion3">
                                    Client Records
                                </button>
                            </h2>
                            <div id="accordion3" class="accordion-collapse collapse" data-bs-parent="#confirmationAccordion">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p><strong>Index:</strong> <span id="confIndex"></span></p>
                                        </div>
                                        <div class="col-md-3">
                                            <p><strong>Book:</strong> <span id="confBook"></span></p>
                                        </div>
                                        <div class="col-md-3">
                                            <p><strong>Page:</strong> <span id="confPage"></span></p>
                                        </div>
                                        <div class="col-md-3">
                                            <p><strong>Line:</strong> <span id="confLine"></span></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Multi-step Modal -->
    <div class="modal fade" id="addConfirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="addConfirmationModal" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Confirmation Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-case">
                        <!-- Progress Tracker -->
                        <div class="progress-tracker">
                            <div class="step active">
                                <i class="fa-solid fa-user"></i>
                                <span>Client</span>
                            </div>
                            <div class="progress-line"></div>
                            <div class="step">
                                <i class="fa-solid fa-person-breastfeeding"></i>
                                <span>Parent</span>
                            </div>
                            <div class="progress-line"></div>
                            <div class="step">
                                <i class="fa-solid fa-church"></i>
                                <span>Confirmation</span>
                            </div>
                            <div class="progress-line"></div>
                            <div class="step">
                                <i class="fa-solid fa-folder-open"></i>
                                <span>Records</span>
                            </div>
                        </div>

                        <!-- Multi-Step Form -->
                        <div class="stepper-form">
                            <form id="confirmationAddForm">
                                <!-- Step 1 -->
                                <div class="step-content active">
                                    <h3>Step 1: Personal Information</h3>
                                    
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 mt-2">
                                            <label for="name" class="required">First Name:</label>
                                            <input type="text" id="fname" name="fname" class="form-control" required>
                                        </div>

                                        <div class="col-lg-4 col-md-12 mt-2">
                                            <label for="name">Middle Name:</label>
                                            <input type="text" id="mname" name="mname" class="form-control">
                                        </div>

                                        <div class="col-lg-4 col-md-12 mt-2">
                                            <label for="name" class="required">Last Name:</label>
                                            <input type="text" id="lname" name="lname" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 mt-2">
                                            <label for="birthdate" class="required">Birth Date:</label>
                                            <input type="text" id="birthdate" name="birthdate" class="datepicker-custom form-control" required>
                                        </div>

                                        <div class="col-lg-4 col-md-12 mt-2 check-records">
                                            <button type="button" id="checkRecBtn" class="btn btn-primary mt-3">Check if record exists</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <input type="hidden" name="rec_id" id="rec_id">
                                        <input type="hidden" name="rec_moID" id="rec_moID">
                                        <input type="hidden" name="rec_faID" id="rec_faID">
                                        <div class="col-lg-4 col-md-12 mt-2">
                                            <label for="birthplace" class="required">Birth Place:</label>
                                            <input type="text" id="birthplace" name="birthplace" class="form-control birthplace" required>
                                        </div>

                                        <div class="col-lg-4 col-md-12 mt-2">
                                            <label for="ligitivity" class="required">Legitimacy:</label><br>
                                            <div class="radio-group mt-2">
                                                <input type="radio" value="civil" id="civilLigitivity" name="ligitivity"  required>
                                                <label for="civilLigitivity">Civil</label>
                                        
                                                <input type="radio" value="catholic" id="catholicLigitivity" name="ligitivity" required>
                                                <label for="catholicLigitivity">Catholic</label>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-4 col-md-12 mt-2">
                                            <label for="civilStatus" class="required">Civil Status:</label>
                                            <select id="civilStatus" name="civilStatus" class="form-control" required>
                                                <option value="" disabled selected>Select an option</option>
                                                <option value="single">Single</option>
                                                <option value="married">Married</option>
                                                <option value="widowed">Widowed</option>
                                                <option value="separated">Separated</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mt-2">
                                            <p class="mb-0"><strong>Address</strong></p>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">  
                                            <div class="subform">
                                                <label for="region" class="required">Region:</label>
                                                <select id="region" name="region" class="form-control" required>
                                                    <option region_id="" value="" selected disabled>Select Region</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">  
                                            <div class="subform">
                                                <label for="province" class="required">Province:</label>
                                                <select id="province" name="province" class="form-control" required>
                                                    <option value="" selected disabled>Select Province</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">    
                                            <div class="subform">
                                                <label for="city" class="required">City/Municipality:</label>
                                                <select id="city" name="cityMun" class="form-control" required>
                                                    <option value="" selected disabled>Select City/Municipality</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">    
                                            <div class="subform">
                                                <label for="barangay" class="required">Barangay:</label>
                                                <select id="barangay" name="barangay" class="form-control" required>
                                                    <option value="" selected disabled>Select Barangay</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-12 mt-2">    
                                            <label for="addressLine" class="required">Address Line:</label>
                                            <input type="text" id="addressLine" name="addressLine" class="form-control addressLine" required>
                                        </div>
                                    </div>

                                    <div class="col-12 mb-1 text-end">
                                        <button type="button" class="btn btn-primary next-btn mt-3">Next</button>
                                    </div>

                                    
                                </div>

                                <!-- Step 2 -->
                                <div class="step-content active">
                                    <h3>Step 2: Parents Information</h3>

                                    <div class="row gx-5">
                                        <!-- Father -->
                                        <div class="col-lg-6 col-md-12 mt-2 parent-container middle-divider">
                                            <div class="row">
                                                <div class="col-12 mt-2">
                                                    <p class="mb-0"><h5>Father</h5></p>
                                                </div>

                                                <div class="col-lg-4 col-md-12 mt-2">
                                                    <label for="fafname" class="required">First Name:</label>
                                                    <input type="text" id="fafname" name="fafname" class="form-control fafname" required>
                                                </div>

                                                <div class="col-lg-4 col-md-12 mt-2">
                                                    <label for="famname">Middle Name:</label>
                                                    <input type="text" id="famname" name="famname" class="form-control famname">
                                                </div>

                                                <div class="col-lg-4 col-md-12 mt-2">
                                                    <label for="falname" class="required">Last Name:</label>
                                                    <input type="text" id="falname" name="falname" class="form-control falname" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-md-4 mt-2">
                                                    <label for="fabirthdate" class="required">Birth Date:</label>
                                                    <input type="text" id="fabirthdate" name="fabirthdate" class="datepicker-custom form-control fabirthdate" required>
                                                </div>

                                                <div class="col-lg-6 col-md-12 mt-2">
                                                    <label for="fabirthplace" class="required">Birth Place:</label>
                                                    <input type="text" id="fabirthplace" name="fabirthplace" class="form-control fabirthplace" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 mt-2">
                                                    <label for="faaddress" class="required">Address:</label>
                                                    <input type="text" id="faaddress" name="faaddress" class="form-control faaddress" required>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Mother -->
                                        <div class="col-lg-6 col-md-12 parent-container">
                                            <div class="row">
                                                <div class="col-12 mt-2">
                                                    <p class="mb-0"><h5>Mother</h5>
                                                    </p>
                                                </div>

                                                <div class="col-lg-4 col-md-12 mt-2">
                                                    <label for="mofname" class="required">First Name:</label>
                                                    <input type="text" id="mofname" name="mofname" class="form-control mofname" required>
                                                </div>

                                                <div class="col-lg-4 col-md-12 mt-2">
                                                    <label for="momname">Middle Name:</label>
                                                    <input type="text" id="momname" name="momname" class="form-control momname">
                                                </div>

                                                <div class="col-lg-4 col-md-12 mt-2">
                                                    <label for="molname" class="required">Last Name:</label>
                                                    <input type="text" id="molname" name="molname" class="form-control molname" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-md-4 mt-2">
                                                    <label for="mobirthdate" class="required">Birth Date:</label>
                                                    <input type="text" id="mobirthdate" name="mobirthdate" class="datepicker-custom form-control mobirthdate" required>
                                                </div>

                                                <div class="col-lg-6 col-md-12 mt-2">
                                                    <label for="mobirthplace" class="required">Birth Place:</label>
                                                    <input type="text" id="mobirthplace" name="mobirthplace" class="form-control mobirthplace" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 mt-2">
                                                    <label for="moaddress" class="required">Address:</label>
                                                    <input type="text" id="moaddress" name="moaddress" class="form-control moaddress" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 mb-1 text-end">
                                        <button type="button" class="btn btn-primary prev-btn mt-3">Back</button>
                                        <button type="button" class="btn btn-primary next-btn mt-3">Next</button>
                                    </div>
                                </div>
    
                                <!-- Step 3 -->
                                <div class="step-content">
                                    <h3>Step 3: Confirmation Information</h3>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 mt-2">
                                            <label for="confDate" class="required">Confirmation Date:</label>
                                            <input type="text" id="confDatePicker" name="confDate" class="form-control" required>
                                        </div>

                                        <div class="col-lg-6 col-md-12 mt-2">    
                                            <div class="subform">
                                                <label for="priest" class="required">Priest:</label>
                                                <select id="priest" name="priest" class="form-control" required>
                                                    <option value="" selected disabled>Select Priest</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mt-2">
                                            <label for="church_baptized" class="required">Church Baptized:</label>
                                            <input type="text" id="church_baptized" name="church_baptized" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mt-2">
                                            <p class="mb-0"><strong>Sponsors</strong></p>
                                        </div>

                                        <div class="col-lg-6 col-md-12 mt-2">
                                            <label for="sponsorA" class="required">Sponsor 1:</label>
                                            <input type="text" id="sponsorA" name="sponsorA" class="form-control">
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-12 mt-2">    
                                            <label for="sponsorB" class="required">Sponsor 2:</label>
                                            <input type="text" id="sponsorB" name="sponsorB" class="form-control">
                                       </div>
                                    </div>

                                    <div class="col-12 mb-1 text-end">
                                        <button type="button" class="btn btn-primary prev-btn mt-3">Back</button>
                                        <button type="button" class="btn btn-primary next-btn mt-3">Next</button>
                                    </div>
                                    
                                </div>
    
                                <!-- Step 4 -->
                                <div class="step-content">
                                    <h3>Step 4: Records</h3>
                                    
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12 mt-2">
                                            <label for="confIndex" class="required">Index:</label>
                                            <input type="text" id="confIndex" name="rec_index" class="form-control" required>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">
                                            <label for="confBook" class="required">Book:</label>
                                            <input type="text" id="confBook" name="rec_book" class="form-control" required>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">
                                            <label for="confPage" class="required">Page:</label>
                                            <input type="text" id="confPage" name="rec_page" class="form-control" required>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">
                                            <label for="confLine" class="required">Line:</label>
                                            <input type="text" id="confLine" name="rec_line" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="col-12 mb-1 text-end">
                                        <button type="button" class="btn btn-primary prev-btn mt-3">Back</button>
                                        <button type="submit" class="btn btn-primary next-btn mt-3">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editConfirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="editConfirmationModal" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Confirmation Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-case">
                        <!-- Progress Tracker -->
                        <div class="progress-tracker">
                            <div class="step active">
                                <i class="fa-solid fa-church"></i>
                                <span>Confirmation</span>
                            </div>
                            <div class="progress-line"></div>
                            <div class="step">
                                <i class="fa-solid fa-folder-open"></i>
                                <span>Records</span>
                            </div>
                        </div>

                        <!-- Multi-Step Form -->
                        <div class="stepper-form">
                            <form id="confirmationEditForm">
                                <!-- Step 3 -->
                                <div class="step-content">
                                    <h3>Confirmation Information</h3>

                                    <input type="hidden" name="id" id="id">

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 mt-2">
                                            <label for="confDate" class="required">Confirmation Date:</label>
                                            <input type="text" id="DatePickerEdit" name="confDate" class="form-control datepicker" required>
                                        </div>

                                        <div class="col-lg-6 col-md-12 mt-2">    
                                            <div class="subform">
                                                <label for="priestEdit" class="required">Priest:</label>
                                                <select id="priestEdit" name="priestEdit" class="form-control" required>
                                                    <option value="" selected disabled>Select Priest</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mt-2">
                                            <label for="church_baptized" class="required">Church Baptized:</label>
                                            <input type="text" id="church_baptized" name="church_baptized" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mt-2">
                                            <p class="mb-0"><strong>Sponsors</strong></p>
                                        </div>

                                        <div class="col-lg-6 col-md-12 mt-2">
                                            <label for="sponsorA" class="required">Sponsor 1:</label>
                                            <input type="text" id="sponsorA" name="sponsorA" class="form-control">
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-12 mt-2">    
                                            <label for="sponsorB" class="required">Sponsor 2:</label>
                                            <input type="text" id="sponsorB" name="sponsorB" class="form-control">
                                       </div>
                                    </div>

                                    <div class="col-12 mb-1 text-end">
                                        <button type="button" class="btn btn-primary next-btn mt-3">Next</button>
                                    </div>
                                    
                                </div>
    
                                <!-- Step 4 -->
                                <div class="step-content">
                                    <h3>Records</h3>
                                    
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12 mt-2">
                                            <label for="confIndex" class="required">Index:</label>
                                            <input type="text" id="confIndex" name="rec_index" class="form-control" required>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">
                                            <label for="confBook" class="required">Book:</label>
                                            <input type="text" id="confBook" name="rec_book" class="form-control" required>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">
                                            <label for="confPage" class="required">Page:</label>
                                            <input type="text" id="confPage" name="rec_page" class="form-control" required>
                                        </div>

                                        <div class="col-lg-3 col-md-12 mt-2">
                                            <label for="confLine" class="required">Line:</label>
                                            <input type="text" id="confLine" name="rec_line" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="col-12 mb-1 text-end">
                                        <button type="button" class="btn btn-primary prev-btn mt-3">Back</button>
                                        <button type="submit" class="btn btn-primary next-btn mt-3">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
