{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="card card-auth mt-lg-5 mt-3 mb-lg-5 mb-3">
        <img src="{{ url_for('static', filename='images/stjoseph.png') }}" class="card-img" alt="St. Joseph">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <p class="card-text">Enter your email to receive a request on your registered device.</p>
            
            <form id="loginForm" method="POST" action="/login"> 
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                </div>

                <!-- <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                    <div class="form-text mt-1 text-end">
                        <a href="#" id="forgotPassBtn" data-bs-toggle="modal" data-bs-target="#forgotPassModal">Forgot Password?</a>
                    </div>

                </div> -->

                <button type="submit" class="btn btn-primary">Authenticate</button>
                <div class="form-text">
                    Don't have an account? <a href="/signup">Sign up</a>
                </div>
            </form>
        
            

        </div>
    </div>

    <div class="modal-container">
        <div class="modal fade" id="forgotPassModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="forgotPassModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><span id="modalHeader">Recover Account</span></h5>
                        <button type="button" id="close-modal" class="btn-close close-modal" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body p-4">
                        <label for="recoveryEmail" class="form-label">Enter your email</label>
                        <input type="email" id="recoveryEmail" class="form-control" placeholder="e.g. user@example.com" required>
                        <small class="form-text text-muted">
                        A link will be sent to this email address for account recovery.
                        </small>
                        <button id="sendEmailBtn" class="btn btn-primary w-100 mt-3">
                            Recover
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/forgotPass.js') }}"></script>

{% endblock %}