{% extends "base.html" %}
{% block title %}Request{% endblock %}
{% set showFooter = True %}

{% block content %}
<header class="p-3">
    <div class="d-flex justify-content-start align-items-center mb-3">
        <a href="/request" class="me-3 text-decoration-none text-dark">
            <i class="fas fa-arrow-left"></i> 
        </a>
        <h2 class="m-0">Request Certificate</h2>
    </div>
</header>


<div class="container-fluid">
    <div class="card card-req-form">
        <div class="card-body">
            <form id="requestAddFormClient">
                <div class="row">
                    <div class="col-12">
                        <strong>Name on Document<em> / Pangalan sa Dokumento</em></strong>
                    </div>
                    <div class="col-lg-3 col-md-12 mt-2">
                        <label class="required" for="recFirstName">First Name<em> / Pangalan</em>:</label>
                        <input type="text" id="recFirstName" name="recFirstName" class="form-control" required>
                    </div>
                    <div class="col-lg-3 col-md-12 mt-2">
                        <label for="recMiddleName">Middle Name<em> / Gitnang Pangalan</em>:</label>
                        <input type="text" id="recMiddleName" name="recMiddleName" class="form-control">
                    </div>
                    <div class="col-lg-3 col-md-12 mt-2">
                        <label class="required" for="recLastName">Last Name<em> / Apelyido</em>:</label>
                        <input type="text" id="recLastName" name="recLastName" class="form-control" required>
                    </div>
                    <div class="col-lg-3 col-md-12 mt-2">
                        <label for="birthdate" class="required">Birthday<em> / Araw ng Kapanakan</em>:</label>
                        <input type="text" id="birthdate" name="birthdate" class="datepicker-custom form-control" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-12 mt-2">
                        <label class="required" for="relationship">Relationship to Document Holder <em> / Ugnayan sa may ari ng dokumneto</em></label>
                        <select id="relationship" name="relationship" class="form-control" required>
                            <option value="" disabled selected>Select relationship</option>
                            <option value="Self">Self (Sarili)</option>
                            <option value="Father">Father (Ama)</option>
                            <option value="Mother">Mother (Ina)</option>
                            <option value="Sibling">Sibling (Kapatid)</option>
                            <option value="Spouse">Spouse (Asawa)</option>
                            <option value="Child">Child (Anak)</option>
                            <option value="Grandparent">Grandparent (Lolo o Lola)</option>
                            <option value="Legal Guardian">Legal Guardian (Tagapnagalaga)</option>
                        </select>
                    </div>


                    <div class="col-lg-6 col-md-12 mt-2">
                        <label class="required" for="ceremony">Ceremony<em> / Uri ng Seremonya</em>:</label>
                        <select id="ceremony" name="ceremony" class="form-control" required>
                            <option value="" disabled selected>Select ceremony</option>
                            <option value="baptism">Baptism</option>
                            <option value="confirmation">Confirmation</option>
                            <option value="wedding">Wedding</option>
                            <option value="death">Death</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <label>Ceremony Date (any known part)<em> / Petsa ng Seremonya</em>:</label>

                    <div class="col-lg-4 col-md-6 mt-1">
                        <select class="form-control" id="cer_year" name="cer_year">
                            <option value="">Year (Taon)</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-1">
                        <select class="form-control" id="cer_month" name="cer_month">
                            <option value="">Month (Buwan)</option>
                            <option value="1">January (Enero)</option>
                            <option value="2">February (Pebrero)</option>
                            <option value="3">March (Marso)</option>
                            <option value="4">April (Abril)</option>
                            <option value="5">May (Mayo)</option>
                            <option value="6">June (Hunyo)</option>
                            <option value="7">July (Hulyo)</option>
                            <option value="8">August (Agosto)</option>
                            <option value="9">September (Setyembre)</option>
                            <option value="10">October (Oktubre)</option>
                            <option value="11">November (Nobyembre)</option>
                            <option value="12">December (Disyembre)</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-1">
                        <select class="form-control" id="cer_day" name="cer_day">
                            <option value="">Day (Araw)</option>
                        </select>
                    </div>
                </div>



                <div class="row">
                    <div class="col-12 mt-2">
                        <label for="note">Note<em> / Karagdagang Impormasyon</em>:</label>
                        <textarea id="note" name="note" rows="3" class="form-control" placeholder="Enter additional notes..."></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-2">
                        <label class="required" for="pickupDate">Pickup Date<em> / Petsa ng Pagkuha</em>:</label>
                        <input type="text" id="pickupDateClient" name="pickup_date" class="form-control" required readonly>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form> 
        </div>
    </div>
    

</div>

<script src="{{ url_for('static', filename='js/jsReqCalendar.js') }}"></script>


{% endblock %}
