{% extends "base.html" %}
{% set no_navbar = True %}
{% block body_class %}bg-reset{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="center-wrapper">
    <div class="card card-auth mt-lg-5 mt-3 mb-lg-5 mb-3">
        <img src="{{ url_for('static', filename='images/stjoseph.png') }}" class="card-img" alt="St. Joseph">
        <div class="card-body">
            <h5 class="card-title">Reset Password</h5>
            <p class="card-text">Enter new password for your account.</p>
            
            <form method="POST">
                <div class="mb-3">
                    <input type="hidden" name="token" value="{{ token }}">
                    <label for="password" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter new pasword" required>               
                </div>

                <div class="mb-3"> 
                    <label for="confirm_password" class="form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm new pasword" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        
            

        </div>
    </div>
</div>
    

{% endblock %}