{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="card card-auth mt-lg-5 mt-3 mb-lg-5 mb-3">
        <img src="{{ url_for('static', filename='images/stjoseph.png') }}" class="card-img" alt="St. Joseph">
        <div class="card-body">
            <h5 class="card-title">Sign Up</h5>
            <p class="card-text">Please input credentials for registration</p>
            
            <form id="signupForm">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                        <label for="fname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter given name" required>
    
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-3">
                        <label for="mname" class="form-label">Middle Name</label>
                        <input type="text" class="form-control" id="mname" name="mname" placeholder="Enter Middle name">
    
                    </div>
    
                    <div class="col-lg-4 col-12 mb-3">
                        <label for="lname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last name" required>
    
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-12 mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username"  placeholder="Enter username" required>
                    </div>
    
                    <div class="col-lg-6 col-12 mb-3">
                        <label for="contact_number" class="form-label">Contact Number</label>
                        <input type="text" class="form-control" id="contact_number" name="contact_number" maxlength="13" placeholder="09xxxxxxxxx" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                </div>

                <br>

                <button type="submit" class="btn btn-primary">Set up Authentication</button>
                <div class="form-text">
                    Alredy have an account? <a href="/login">Login</a>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-container">
        <div class="modal fade" id="authenticateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="authenticateModal" aria-modal="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Authnticate Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-case">
                            <h5 class="card-title">Sign Up | Authentication</h5>
                            <p class="card-text">Please get your device ready and open a QR Code scanner to authenticate. Take note that the device you will use now will be the device used everytime you log into your account. <br><br>Press the button below if you are ready for authentication.</p>
                            
                            <div id="fido-layout-inprogress-div" class="d-none">
                                <div class="d-flex justify-content-center mb-1 text-secondary">
                                    <div class="spinner-border" role="status"></div>
                                </div>
                                <div class="text-center text-secondary">Waiting for approval...</div>
                            </div>
                        
                            <div id="fido-layout-failed-alert" class="alert alert-danger text-center d-none" role="alert">
                                <img src="{{url_for('static', filename='images/danger.svg')}}" class="w-25">
                                <div id="fido-layout-failed-alert-message"></div>
                            </div>

                            <div class="button-container">
                                <div id="button-div">
                                    <button id="authenticate-button" type="button" class="btn btn-primary" data-user-id="">Set up Security Key</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/register.js') }}"></script>

{% endblock %}
